################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthService/DesignTimeBuild
/.vs/AuthService/v17
/.vs/ProjectEvaluation
/.vs/AuthService/FileContentIndex
/AuthService.Api/obj/Container
/AuthService.Api/obj/Debug/net8.0/AuthService.Api.AssemblyInfo.cs
/AuthService.Api/obj/Debug/net8.0/AuthService.Api.AssemblyInfoInputs.cache
/AuthService.Api/obj/Debug/net8.0/AuthService.Api.assets.cache
/AuthService.Api/obj/Debug/net8.0/AuthService.Api.csproj.AssemblyReference.cache
/AuthService.Api/obj/AuthService.Api.csproj.nuget.dgspec.json
/AuthService.Api/obj/AuthService.Api.csproj.nuget.g.props
/AuthService.Api/obj/AuthService.Api.csproj.nuget.g.targets
/AuthService.Api/obj/project.assets.json
/AuthService.Api/obj/project.nuget.cache
/AuthService.Application/obj/Debug/net8.0/AuthService.Application.AssemblyInfo.cs
/AuthService.Application/obj/Debug/net8.0/AuthService.Application.AssemblyInfoInputs.cache
/AuthService.Application/obj/Debug/net8.0/AuthService.Application.assets.cache
/AuthService.Application/obj/Debug/net8.0/AuthService.Application.csproj.AssemblyReference.cache
/AuthService.Application/obj/AuthService.Application.csproj.nuget.dgspec.json
/AuthService.Application/obj/project.assets.json
/AuthService.Application/obj/project.nuget.cache
/AuthService.Domain/obj/Debug/net8.0/AuthService.Domain.AssemblyInfo.cs
/AuthService.Domain/obj/Debug/net8.0/AuthService.Domain.AssemblyInfoInputs.cache
/AuthService.Infrastructure/obj/Debug/net8.0/AuthService.Infrastructure.AssemblyInfo.cs
/AuthService.Infrastructure/obj/Debug/net8.0/AuthService.Infrastructure.AssemblyInfoInputs.cache
/AuthService.Infrastructure/obj/Debug/net8.0/AuthService.Infrastructure.assets.cache
/AuthService.Infrastructure/obj/Debug/net8.0/AuthService.Infrastructure.csproj.AssemblyReference.cache
/AuthService.Infrastructure/obj/AuthService.Infrastructure.csproj.nuget.dgspec.json
/AuthService.Infrastructure/obj/AuthService.Infrastructure.csproj.nuget.g.props
/AuthService.Infrastructure/obj/AuthService.Infrastructure.csproj.nuget.g.targets
/AuthService.Infrastructure/obj/project.assets.json
/AuthService.Infrastructure/obj/project.nuget.cache
